.battery {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    border: 2px solid black;
}

.indicator {
    position: absolute;
    width: 20%;
    height: 100%;
}

.indicator.red {
    background-color: #f00;
    position: absolute;
    width: 40%;
    height: 100%;
}

.indicator.yellow {
    background-color: #FFC60B;
    position: absolute;
    width: 65%;
    height: 100%;
}

.indicator.green {
    background-color: #00A055;
    position: absolute;
    width: 100%;
    height: 100%;
}