body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 1700px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 20%;
    padding: 20px;
    background-color: #3F6592;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.right {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.profile-picture {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-left:20%;
}

.personal-info {
    margin-bottom: 20px;
}

.personal-info p {
    margin: 0;
    padding: 10px;
}

.languages {
    margin-bottom: 20px;
    margin-left: 10px;
}

.languages ul {
    list-style-type: none;
    padding: 0;
}

.languages ul li {
    margin-bottom: 5px;
}

.menu {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.work-dates, .course-dates {
    float: right;
    font-style: italic;
    color: #666;
}

.text-left{
    float: right;
    font-style: italic;
    color: white;
}

.btn{
    width: 150px;
    height: 55px;
    text-decoration: none;
    display: inline-block;
    line-height: 55px;
    background: #E8EDE7;
    color: #378BA4;
    border-radius: 30%;
    margin-left: 15px;
    font-size: 14px;
    text-align: center;
}